body{

margin:0;
background:#FFFFFF;
font:helvetica;
background:url(images/ffr.jpg);
}
#wrapper{

margin:0 auto;
height:auto;
width:800px;


}
.logoo{


margin-left:20px;
float:left;
height:auto;
}
.bbb{

border-bottom:3px solid#ffffff;
opacity:0.5;
width:160px;


}
#rrrr{

height:150px;
width:100%;
color:#25FAFA;
background:#000000;
}
.eee{

color:#ffffff;
margin-left:300px;
padding-top:20px;
font-size:20px;

}
#footer{

height:50px;
width:100%;
background:#000000;

}
#menu{


border-radius:10px;
margin-left:30px;
margin-top:30px;
height:200px;
width:260px;
background:#DB56D5;
float:left;

}
#menu ul li {

list-style-type:none;
}
#menu li{
background: left center url(images/arr.gif) no-repeat;
display:block;
}
#header2{


height:3px;
background:#ffffff;
width:100%;
}
#contentss{


height:80px;
width:100%;
background:#000000;

}

#menu ul li a{


padding:10px 10px 10px 10px;
}




#menu ul li a{

text-decoration:none;
color:#ffffff;
padding:20px 20px 20px 20px;

}
.pic{

float:right;
margin-top:-45px;
padding-right:100px;
}
#clear{


width:100%;
clear:both;
}
#header{


height:500px;
width:100%;
background:#000000;
}